@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Proza+Libre:ital,wght@1,800&display=swap');

body, html {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #24a7ff;
  color:rgb(16, 46, 55);
}

h1{
    margin: 0px;
    font-size: 175%;
    letter-spacing: 5px;
}
h2{
  margin: 0px;
  font-size: 150%;
  letter-spacing: 5px;
}

hr{
    height: 2px;
    background-color:rgb(16, 46, 55);
    border: none;
}

#Profile{
  width: 20vw;
  border-radius: 50%;
  margin-bottom: 0px;
}
p{
  font-size: 125%;
}

.button{
  background-color: white;
  padding:0;
  margin:20px;
  width: 200px;
  height: 80px;
  text-align: center;
  position: relative;
  border: 1px solid black;
  border-radius: 50px;
  transition-duration: .05s;
}

.VenmoButton{
  font-family: 'Proza Libre', sans-serif;
  color: #24a7ff;
  font-size:175%;
  background-position: center;
  box-shadow: 0 30px 60px rgba(0,0,0,0.3);
}
.VenmoButton:hover{
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  transform: scale(.95);
}
.VenmoButton:hover::after{
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  transform: scale(.95);
}

.CashAppButton{
  font-family:Arial, Helvetica, sans-serif;
  background-color: black;
  color: #61c346;
  font-size:175%;
  background-position: center;
  box-shadow: 0 30px 60px rgba(0,0,0,0.5);
}
.CashAppButton:hover{
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  transform: scale(.95);
}
.CashAppButton:hover::after{
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  transform: scale(.95);
}

  #groupPic{
    width: 90vw;
  }

