body, html {
    height: 100%;
    margin: 0;
    text-align: center;
  }

  .button{
    padding:0;
    margin:0;
    width: 200px;
    height: 80px;
    text-align: center;

    position: relative;
    border: 1px solid black;
    border-radius: 50px;
    transition-duration: .05s;
  }

  .VenmoButton{
    background: url(Venmo.JPG);
    background-size: cover;
    background-position: center;
    box-shadow: 0 30px 60px rgba(0,0,0,0.5);
  }
  .VenmoButton:hover{
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    transform: scale(.95);
  }
  .VenmoButton:hover::after{
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    transform: scale(.95);
  }
