

html,body{
    height: 100%;
    background-color: white;
    text-align: center;
    font-family: Marker Felt;
}

h1{
    color:rgb(0, 0, 0);
    font-family: Marker Felt;
    font-size: 175%;
    text-align: center;
}

p{
    font-family: Marker Felt;
}

.button {
    background-color: rgb(58, 58, 58);
    background-image: linear-gradient(to bottom right, red yellow);
    border-radius: 20%;
    font-family: Marker Felt;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;

  }