

h1{
    color:rgb(247, 223, 177);
    margin: 0px;
    font-family: Marker Felt;
    font-size: 45px;
    letter-spacing: 5px;
}

hr{
    height: 2px;
    background-color:rgb(247, 223, 177);
    border: none;
}

#Profile{
    width: 75px;
    border-radius: 50%;
    margin-bottom: 0px;
}

@font-face {
    font-family: Marker Felt;
    src: url(//fonts.googleapis.com/css?family=Permanent+Marker);
}

body{
    background-color:rgb(108,112,85);
    text-align:center;
}

p{
    color: rgb(247, 223, 177);
}

.button {
    background-color: rgb(154,132,77);
    border:10px;
    border-radius: 10px;
    font-family: Marker Felt;
    letter-spacing: 3px;
    color: rgb(247, 223, 177);
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button:hover{
    opacity: .7;
    box-shadow: 30px;
    margin-bottom: 0;
  }

  #list{
    color:rgb(247, 223, 177);
    text-align: left;
    margin-left: 3vw;
  }

  #venmo {
    background-color: #0074de;
    color:white;
  }

  #cashApp {
    background-color: #00D64F;
    color:black;
  }

  #harvestImg{
    width: 11em;
    justify-content: baseline;
    margin: 0;
  }