@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Proza+Libre:ital,wght@1,800&display=swap');


h1{
    color:rgb(247, 223, 177);
    margin: 0px;
    font-family: Marker Felt;
    font-size: 45px;
    letter-spacing: 5px;
}

hr{
    height: 2px;
    background-color:rgb(247, 223, 177);
    border: none;
}

#Profile{
    width: 75px;
    border-radius: 50%;
    margin-bottom: 0px;
}

@font-face {
    font-family: Marker Felt;
    src: url(//fonts.googleapis.com/css?family=Permanent+Marker);
}

body{
    background-color:rgb(108,112,85);
    text-align:center;
}
article{
  color: rgb(247, 223, 177);
  font-size: 100%;
}

#list{
  text-align: left;
  margin-left: 3vw;
}

.button{
  background-color: white;
  cursor: pointer;
  padding:0;
  margin:15px;
  width: 150px;
  height: 50px;
  text-align: center;
  position: relative;
  border: 1px solid black;
  border-radius: 50px;
  transition-duration: .05s;
}

.VenmoButton{
  font-family: 'Proza Libre', sans-serif;
  color: #24a7ff;
  font-size:175%;
  background-position: center;
  box-shadow: 0 30px 50px rgba(0,0,0,0.3);
}
.VenmoButton:hover{
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  transform: scale(.95);
}
.VenmoButton:hover::after{
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  transform: scale(.95);
}

.CashAppButton{
  font-family:Arial, Helvetica, sans-serif;
  background-color: black;
  color: #61c346;
  font-size:175%;
  background-position: center;
  box-shadow: 0 30px 50px rgba(0,0,0,0.3);
}
.CashAppButton:hover{
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  transform: scale(.95);
}
.CashAppButton:hover::after{
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  transform: scale(.95);
}

  #harvestImg{
    width: 11em;
    justify-content: baseline;
    margin: 0;
  }