
#Profile{
  width: 20vw;
  border-radius: 50%;
  margin-bottom: 0px;
}

h1{
  text-align: center;
}

.button{
  background-color: white;
  padding:0;
  margin:15px;
  width: 180px;
  height: 60px;
  text-align: center;
  position:absolute;

  border: 1px solid black;
  border-radius: 50px;
  transition-duration: .05s;
}

.VenmoButton{
  font-family: 'Proza Libre', sans-serif;
  color: #24a7ff;
  font-size:175%;
  background-position: center;
  box-shadow: 0 30px 60px rgba(0,0,0,0.3);
}

.VenmoButton:hover{
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  transform: scale(.95);
}

.VenmoButton:hover::after{
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  transform: scale(.95);
}

